{% extends "base.html" %}
{% load static %}

{% static "" as baseUrl %}

{% load i18n %}

{% block content %}
<!-- Custom fonts for this template-->
<h1>{% trans "A propos de l'application" %}</h1>
<p>{% trans "Le pont suspendu de Niouc est un pont pour canalisation, un bisse siphon, muni d’une passerelle pour piétons. Il a été construit en 1922, à l’aide de câbles de fils d’acier et de bois, pour son plancher. La fonction initiale du pont suspendu était de permettre l’entretien de la canalisation se dressant entre Niouc et Briey, par dessus la Navizence (rivière) et desservant en eau les bisses et le hameau de Briey. Il a aussi permis de faire traverser des chèvres et des personnes de l’autre côté de la vallée. C’est l’un des plus hauts pont suspendu d’Europe." %}</p>
<p>{% trans "Le pont a pour nom “Pont suspendu de Niouc” il est aussi dénommé “Pont de l’Araignée” à cause de sa structure composé d’un réseau de câbles métalliques qui le maintien stable comme une toile d’araignée. Les sauteurs attachés à un élastique évoquent aussi l’insecte suspendu par son propre fil." %}</p>
<p>{% trans "Cette application web a été créé par des étudiants de la HES-SO Valais, Sierre dans le cadre d'un projet école et met à disposition un guide audio." %}</p>
<p>{% trans "Pour plus d'informations veuillez vous adresser à l'association des amis du pont suspendu de Niouc. Vous trouvez tous les informations necessaires dans la rubrique contact." %}</p>
<h2>{% trans "Auteurs" %}</h2>
HES-SO Valais
<h2>{% trans "Version" %}</h2>
Version 1.0

<!-- Navigation -->
<div class="container" style="background-color: #f6d7d6; height: 60px; margin-top: 25px;">
    <div class="row" style="padding-bottom: 20px; padding-top: 20px">
        <div class="col-xs-12" align="center">
            <a href="/"><i class="fas fa-home" style="color: #9d282a; font-size: 24px;"></i></a>
        </div>
    </div>
</div>
{% endblock %}
