{% extends "base.html" %}
{% load static %}

{#{% static "" as baseUrl %}#}
{% load i18n %}
{% block content %}


    <div class="banner">
    <img src="{% static 'imgStatic/Niouc-Pont-Suspendu.jpg' %}" class="responsive" />


    </div><br>


<table style="width:100%;">

 <tr>
        <td class="indent">
         <h1><a href="/language"> <img src="{% static 'imgStatic/roue.png' %}" style="width:10%"/>   {% trans "Langue" %}</a> </h1></td>

     <td>
        </td>
    </tr>
    <tr>
        <td class="indent">
            <h1><a href="/positionItem"><img src="{% static 'imgStatic/direction.png' %}" style="width:10%"/>   {% trans "Guide audio" %}</a></h1>
        </td>
    </tr>
      <tr>
        <td class="indent">
          <h1> <a href="/activity"><img src="{% static 'imgStatic/content.png' %}" style="width:10%"/>   {% trans "Activités" %}</a></h1>
        </td>
    </tr>
          <tr>
        <td class="indent">
           <h1> <a href="/contact"><img src="{% static 'imgStatic/message.png' %}" style="width:10%"/>   {% trans "Contact" %}</a></h1>
        </td>
    </tr>
          <tr>
        <td class="indent">
          <h1> <a href="/location"><img src="{% static 'imgStatic/map.png' %}" style="width:10%"/>   {% trans "Accès" %}</a></h1>
        </td>
    </tr>
          <tr>
        <td class="indent">
            <h1> <a href="/about"><img src="{% static 'imgStatic/info.png' %}" style="width:10%"/> {% trans "A propos" %}</a></h1>
        </td>
    </tr>


</table>


{% endblock %}
