{% extends "base.html" %}
{% load static %}
{% static "" as baseUrl %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- Content -->
{% block content %}
<div align="center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12"><img src="{% static 'imgStatic/Logo.png' %}" width="85%"/>
        </div>
    </div>

    <form action="set_lang" method="post">
        {% for language in languages %}
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12" align="center" style="margin-top: 10px;">
                <button name="language" value="{{language.abreviation}}" type="submit" style="width: 100%; background: none; border: none;">
                    <img src="{{ baseUrl }}/{{language.img}}" width="100%"/>
                </button>
            </div>
        </div>
        {% endfor %}
    </form>
    </div>
</div>
{% endblock %}
