{% extends "basePositions.html" %}
{% load static %}
{% static "" as baseUrl %}
{% load i18n %}

<!-- Content -->
{% block content %}
<br/>
<div align="center">
    <img class="img-thumbnail" src="{{ baseUrl }}/{{position.img}}"/>
</div>

<div class="container" style="color: white; margin-bottom: 20px;">
        <h1 id="positionItemTitle" align="center" style="font-size: 48px; font-family: 'Times New Roman'; font-weight: bold;">{{positionItem.titre}}</h1>
        <p id="positionItemDescription" style="font-size: 20px; font-family: 'Times New Roman'; margin-bottom: 30px">{{positionItem.description}}</p>
        <audio controls style="width: 100%">
            <source src="{{ baseUrl }}/{{positionItem.audio}}">
            Your browser does not support the audio tag.
        </audio>
</div>

<!-- Navigation -->
<div class="container" style="background-color: black; height: 75px;">
    <div class="row" style="padding-bottom: 20px; padding-top: 20px">
        <div class="col-xs-4" align="center">
          {% if hasPrevious %}
            <a href="{{previousId}}"><i class="fas fa-2x fa-arrow-left icon-white"></i></a>
          {% endif %}
        </div>
        <div class="col-xs-4" align="center">
            <a href="/"><i class="fas fa-2x fa-home icon-white"></i></a>
            <a href="/position"><i class="fas fa-2x fa-list-ol icon-white"></i></a>
        </div>
        <div class="col-xs-4" align="center">
          {% if hasNext %}
            <a href="{{nextId}}"><i class="fas fa-2x fa-arrow-right icon-white"></i></a>
          {% endif %}

        </div>
    </div>
</div>
{% endblock %}
