{% extends "basePositions.html" %}
{% load static %}
{% static "" as baseUrl %}
{% load i18n %}

<!-- Content -->
{% block content %}
<div class="container" align="center">
    <img src="{% static 'imgStatic/Logo.png' %}">
</div>

<table id="tablePositions">
    {% for positionItem in positionItems %}
        <tr id="rowPositions">
            <td id="cellPositions">
                <a id="linkPositions" href="{{positionItem.id}}">{{positionItem.id}} {{positionItem.titre}}</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
