{% extends "base.html" %}
{% load static %}

{% static "" as baseUrl %}


{% load i18n %}
{% block content %}
<!-- Custom fonts for this template-->
<h1>{% trans "Localisation et horaires" %}</h1><br>
<p>Le pont suspendu de Niouc, se trouve non loin de Sierre, en Valais (Suisse). Pour vous y rendre en voiture, prenez la sortie Sierre-Est, puis au rond point, prenez la direction du Val d’Anniviers. Après le village de Niouc, soyez attentif à la signalisation, l’accès au pont se situe dans une courbe, par une petite route forestière.</p>

<p><a href="https://www.google.ch/maps/place/Pont+suspendu+de+Niouc+-+Pont+de+l'araignée/@46.2631634,7.5546572,437m/data=!3m1!1e3!4m5!3m4!1s0x478f21fcf605c1df:0xd5bbea1fb1c58a73!8m2!3d46.2634543!4d7.5556071"><img src="{% static 'imgPosition/carte.jpg' %}"></a></p>


<p>L’accès au site est gratuit, la traversée du pont coûte 5frs, l’intégralité des bénéfices est affecté à l’entretien du pont et/ou projets en cours. </p>
<h2>Le pont est ouvert au public :</h2><br>
<p>De début avril à fin octobre,</p>
<p>uniquement les weekend,</p>
<p>de 11h à 18h</p><br>

<p>
    Du 18 juillet au 18 août,</p>
<p>tous les jours sauf le lundi,</p>
<p>de 11h à 18h </p>
</p>
<br>
<h2>Coordonnées du pont - Google Map :</h2>
<p><a href="https://www.openstreetmap.org/?mlat=46.263379&mlon=7.555531&zoom=17#map=17/46.26338/7.55554&layers=C">Coordonnées GPS : 46°15′48″N 07°33′20″E</a> </p>
<p><a href="https://www.google.ch/maps/place/Pont+suspendu+de+Niouc+-+Pont+de+l'araignée/@46.2631634,7.5546572,437m/data=!3m1!1e3!4m5!3m4!1s0x478f21fcf605c1df:0xd5bbea1fb1c58a73!8m2!3d46.2634543!4d7.5556071"><img src="{% static 'imgPosition/googlemap.png' %}"></a></p>

{% endblock %}
