{% extends "base.html" %}
{% load static %}
{% static "" as baseUrl %}
{% load i18n %}
{% block content %}

<!-- Custom fonts for this template-->
<link href="{% static 'onlyForActivity.css' %}" rel="stylesheet" type="text/css">

<!-- Custom style for this page -->
<style>
.thumbnail {
    width: 90%;
    height: auto>;
    overflow: auto;
}

.thumbnail img {
    max-height: 30em;
    max-width: 100%;
    display: block;
}

.responsiveTitle {
    font-size: 4.5rem;
}

.responsiveText {
    font-size: 2rem;
}

audio {
    width: 90%;
}
</style>

<div class="container-fluid content-height" align="center">
    <div class="thumbnail">
        <img src="{{ baseUrl }}/{{activity.img}}" />
        <div class="caption">
            <h1 class="responsiveTitle">{{activityItem.title}}</h1>
            <p class="responsiveText">{{activityItem.description}}</p>
        </div>
    </div>
</div>

<!-- Navigation -->
<div class="container" style="background-color: #f6d7d6; height: 60px; margin-top: 25px;">
    <div class="row" style="padding-bottom: 20px; padding-top: 20px">
        <div class="col-xs-12" align="center">
            <a href="/"><i class="fas fa-home" style="color: #9d282a; font-size: 24px; margin-right: 18px"></i></a>
        </div>
    </div>
</div>
{% endblock %}