{% extends "base.html" %}
{% load static %}
{% static "" as baseUrl %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h1 class="postition_title">{% trans "Activités" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            {% regroup activityItems by activity.prestataire as grouped %}
            {% for group in grouped %}

                <h3>{{ group.grouper|upper }}</h3>
                {% for activity in group.list %}
                    <a href="{{ activity.id }}">
                        <div class="row">
                            <div class="panel panel-default activity-panel " >
                                <div class="row">
                                    <div class="col-sm-3 col-xs-12">
                                        <img src="{{ baseUrl }}/{{ activity.activity.img }}" style="width:100%;"/>
                                    </div>
                                    <div class="col-sm-9 col-xs-12">
                                        <h2 class="h2ActivityList" style="margin-top: 10px;">{{ activity.title }}</h2>
                                        <p style="padding:0 12px;">{{ activity.description|truncatechars_html:200 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% endfor %}

        </div>
    </div>

<!-- Navigation -->
<div class="container" style="background-color: #f6d7d6; height: 60px; margin-top: 25px;">
    <div class="row" style="padding-bottom: 20px; padding-top: 20px">
        <div class="col-xs-12" align="center">
            <a href="/"><i class="fas fa-home" style="color: #9d282a; font-size: 24px;"></i></a>
        </div>
    </div>
</div>
{% endblock %}
