{% extends "base.html" %}

{% load static %}

{#{% static "" as baseUrl %}#}
{% load i18n %}

{% block content %}
<!-- Custom fonts for this template-->
<h1>{% trans "Toutes les activités :" %}</h1><br>
<form action="" method="post">
    {% for activity in activities %}
    {% csrf_token %}
    <button style="background-color:transparent; border-color:green;">
        <div class="container-fluid">
            <div class="row top-buffer">
                <div class="col-md-12">
                    <h1><input type="hidden" value="{{activity.id}}" readonly> {{activity.title}}</h1>
                </div>
            </div>
            <div class="row top-buffer" style="text-align:justify">
                <div class="col-md-12">
                    <h3>{{activity.description}}</h3>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-md-12">
                    <img src="{{ baseUrl }}/{{activity.img}}" class="responsive">
                </div>
            </div>
        </div>
    </button>
    <br> <br>
    {% endfor %}
    {% endblock %}