{% extends "base.html" %}

{% load static %}

{#{% static "" as baseUrl %}#}
{% load i18n %}
{% block content %}

<div class="container-fluid">
  <div class="row top-buffer">

    <div class="col-md-12">
      <p align="center">
      <div class="jumbotron jt-contact">
        <h1>Contact</h1>
        <p>Vous avez une question à nous poser? Contactez nous!</p>

      <form action="" method="post">
        <table>
    {% csrf_token %}
    {{ form.as_table }}
      </table>
        <p></p>

    <input class="send" type="submit" value="ENVOYER LE MAIL A L'ASSOCIATION"><p></p>
</form>
 <div class="panel-body">Adresse administrative de l’association :<br>
              Association des amis du<br>
              pont suspendu de Niouc<br>
              Rue des Longs-Prés 40<br>
              CH-3960 Sierre<br>
              +41(0)78/622.41.93</div>
      </div>
      </p>
    </div>
  </div>
</div>

{% endblock %}