{% extends "base.html" %}

{% load static %}

{#{% static "" as baseUrl %}#}
{% load i18n %}
{% block content %}

<div class="container-fluid">
  <div class="row top-buffer">

    <div class="col-md-12">
        <h1>{% trans "Contact" %}</h1>
        <p>{% trans "Vous avez une question à nous poser? Contactez nous!"%}</p>
      <form action="" method="post">
        <table>
    {% csrf_token %}
    {{ form.as_table }}
      </table>
        <p></p>

    <input class="btn btn-primary" type="submit" value='{% trans "ENVOYER" %}'><p></p>
</form>
 <div class="panel-body">{% trans "Adresse administrative de l’association :" %}<br>
              Association des amis du<br>
              pont suspendu de Niouc<br>
              Rue des Longs-Prés 40<br>
              CH-3960 Sierre<br>
              +41(0)78/622.41.93</div>

      </p>
    </div>
  </div>
</div>

{% endblock %}