<!DOCTYPE html>
{% load static %}
{#{% static "" as baseUrl %}#}
{% load i18n %}

<html>
<head>
<title>Les amis du pont suspendu à Niouc</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://kit.fontawesome.com/67065feb7d.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="main-color">
  <!-- Page content -->
  <div class="container bodyBG neg-mrg btm-content-padding">
    {% block content %}
      <!-- CONTENT -->
      <!-- CONTENT -->
      <!-- CONTENT -->
      <!-- CONTENT -->
    {% endblock %}
  </div>
</body>
</html>
