<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
  <title>Audioguide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <style>

  body {
  background-color:#C7342D;
  }
div {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
tr {
background-color:white;
  border: 20px solid black;
  border-color:#C7342D;
  padding-top: 15px;
 padding-bottom: 15px;
}
td {
  padding-right: 15px;
  padding-left: 15px;
  text-align : justify;
}

h1 {
color:white;
text-align:center;

}

h2 {
color:#C7342D;
}

</style>
</head>
<body>
  {% block content %}

  {% endblock %}
</body>
</html>
